/* CSS Reset Code */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Project Starting */

.wrapper {
  position: relative;
  background-color: #000;
  height: 100%;
  width: 100%;
}

.wrapper-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #FF9F1C ;
  font-size: 20px;
}

/* Used for design appeal,changes the cursor shape while on the element */
.logo {
  cursor: pointer;
}

/* search bar icon from font awesome library */
.fa-search {
  color: white;
  margin-left: 20px;
  cursor: pointer;
}

.nav__links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a:hover {
  color: #ffcc00da;
}

.nav-img {
  height: 80px;
  width: 80px;
  animation: pulsate 2s ease-in-out infinite;
}

/* adding animation for the plus symbol */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

#searchbar {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  font-size: 16px;
  width: 200px;
  transition: width 0.3s ease;
}

#searchbar:focus {
  width: 250px;
}

.fa-search {
  margin-left: 5px;
  color: white;
  transition: color 0.3s ease;
}

#searchbar:focus + .fa-search {
  color: white;
}

/* Skip Link */
  .skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .arrow{
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color:white;
    border-radius: 40px;
  }

  .arrow:hover{
    
    background-color: #FFBF69;
  }
/* Main */

body h1 {
  font-family: 'Lilita One', cursive;
  cursor: pointer;
}

main h2,h3{
  font-family: 'Montserrat', sans-serif;
}

main p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
}

.crossiant-card{
  background-color: #000;
  
}

.limited-wrapper {
  text-align: center;
  margin-top: 40px;
}

/* Hero Banner */

.hero-banner {
  position: relative;
  display: inline-block;
}

.hero-banner img {
  width: 100%;
  height: auto;
}

/* Hero Text */

.limited-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Limited Deals */
.limited {
  display: flex;
  justify-content: center;
}

.limited-deals {
  display: flex;
  align-items: center;
}

/* Card */
.card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-text {
  font-size: 24px;
  margin: 20px 0;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease;
}



.card-overlay-text {
  padding: 20px;
  text-align: center;
}

.card:hover .card-overlay {
  opacity: 1;
}

/* Plus Card */
.plus-card {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.plus {
  width: 100%;
  height: 100%;
}

/* Hero Main Text */
.hero-main-text {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

/* Animations */
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate__pulse {
  animation: pulse 2s infinite;
}

.animate__heartBeat{
  animation: pulse 2s infinite;
}

/* Featured Products*/

.featured-heading {
  font-size: 50px;
  margin: 40px;
}

.featured-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  height: 400px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.product {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  cursor: pointer;
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.product:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.1s ease;
}

.product:hover .overlay {
  opacity: 1;
}

.product-info {
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product:hover .product-info {
  opacity: 1;
}

.product-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description {
  color: white;
  font-size: 14px;
}


/* Gallery */

.gallery-h2 {
  text-align: center;
  font-size: 50px;
  margin: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: #FFBF69;
  padding: 20px;
  border-radius: 10px;
}

.gallery-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dessert-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.gallery-content:hover {
  transform: translateY(-5px);
}

.gallery-content:hover .dessert-name {
  transform: translateY(0);
}




/* Footer */

footer {
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}


/* Media Query For Gallery Grid */
@media screen and (max-width:768px){

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 10px;
  }
  
  .featured-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    height: 400px;
    align-items: center;
    position: relative;
    z-index: 1;
  }
}
  @media screen and (max-width: 768px) {
    .featured-products {
      grid-template-columns: repeat(1, 1fr);
      height: auto;
      grid-gap: 20px;
    }
    
    .featured-heading {
      text-align: center;
    }
    
    .product {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .product .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .product:hover .overlay {
      opacity: 1;
    }
    
    .product img {
      width: 100%;
      height: auto;
      z-index: 2;
    }
    
    .product-info {
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 3;
      color: #fff;
      padding: 10px;
    }
    
    .product-name {
      margin: 0;
      font-size: 18px;
    }
    
    .product-description {
      margin: 5px 0 0;
      font-size: 14px;
    }
    

  }

  @media screen and (max-width: 768px) {
    .limited-wrapper {
      margin-top: 20px;
    }
  
    .limited-hero-text {
      flex-direction: column;
    }
  
    .limited-deals {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      margin: 20px 0;
    }
  
    .hero-img .limited-1 {
      height: 200px;
      object-fit: cover;
    }
  
    .card-text {
      font-size: 20px;
    }
  
    .card-overlay-text {
      font-size: 14px;
      padding: 10px;
    }
  
    .plus-card {
      margin: 10px 0;
    }
  }

  @media screen and (max-width:768px){
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: #FF9F1C;
      font-size: 20px;
    }
    
    .logo {
      cursor: pointer;
    }
    
    .fa-search {
      color: white;
      margin-left: 20px;
      cursor: pointer;
    }
    
    .nav__links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    
    .nav__links li {
      padding: 0px 20px;
    }
    
    .nav__links li a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #edf0f1;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .nav__links li a:hover {
      color: #ffcc00da;
    }
    
    .nav-img {
      height: 80px;
      width: 80px;
      animation: pulsate 2s ease-in-out infinite;
    }
    
    @keyframes pulsate {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    
    .search-bar {
      display: none;
    }
  }

  
  /* Navigation Media Query */
  @media screen and (max-width:768px){
    header {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      /* grid-template-rows: repeat(1,1fr); */
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: #FF9F1C ;
      font-size: 20px;
    }

    .nav__links a{
      justify-content: space-evenly;
      margin-right: 25px;
      
    }

    .logo{
     text-align: center;
     margin-bottom: 30px;
    }
    .search_bar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }

  }

